<main class="timer-page">
  <h1 class="main-caption heading1">1. Creating a New Design</h1>
  <h2 class="task-note subtitle">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </h2>
  <div class="timer--start ">
    <div class="tomatoes">
      <span class="tomato"></span>
      <span class="tomato fail"></span>
      <span class="tomato fill"></span>
      <a class="add-tomato" href="#" title="add-tomato">
        <span class=" icon--add"></span>
      </a>
    </div>
    <div class="timer">
      <div class="clock-face">
        <div class="clock-face-message">
          Let's do it!
        </div>
      </div>
      <div class="progress-bar">
        <div class="left-side half-circle"></div>
        <div class="right-side half-circle"></div>
      </div>
    </div>
    <div class="timer-nav-btns">
      <button class="start">Start</button>
      <a class="global-list-left-btn" href="#" title="To global list">
        <span class="icon--arrow-left"></span>
      </a>
    </div>
  </div>
  <div class="timer--process none">
    <div class="tomatoes">
      <span class="tomato"></span>
      <span class="tomato fail"></span>
      <span class="tomato fill"></span>
      <a class="add-tomato" href="#">
        <span class=" icon--add"></span>
      </a>
    </div>
    <div class="timer progress-25">
      <div class="clock-face">
        <div class="clock-face-message">
          <div class="time">6</div>
          <div class="val">min</div>
        </div>
      </div>
      <div class="progress-bar">
        <div class="left-side half-circle"></div>
        <div class="right-side half-circle"></div>
      </div>
    </div>
    <div class="timer-nav-btns">
      <button class="fail-pomodora">
        Fail Pomodora
      </button>
      <button class="finish-pomodora">
        Finish Pomodora
      </button>
    </div>
  </div>
  <div class="timer--break none">
    <div class="tomatoes">
      <span class="tomato"></span>
      <span class="tomato fail"></span>
      <span class="tomato fill"></span>
      <a class="add-tomato" href="#">
        <span class=" icon--add"></span>
      </a>
    </div>
    <div class="timer progress-100">
      <div class="clock-face">
        <div class="clock-face-message">
          Break<br>is over
        </div>
      </div>
      <div class="progress-bar">
        <div class="left-side half-circle"></div>
        <div class="right-side half-circle"></div>
      </div>
    </div>
    <div class="timer-nav-btns">
      <button class="start-pomoodora">Start Pomodora</button>
      <button class="finish-task">Finish Task.js</button>

    </div>
  </div>
  <div class="timer--break-faild none">
    <div class="tomatoes">
      <span class="tomato"></span>
      <span class="tomato fail"></span>
      <span class="tomato fill"></span>
      <a class="add-tomato" href="#">
        <span class=" icon--add"></span>
      </a>
    </div>
    <div class="timer progress-25">
      <div class="clock-face">
        <div class="clock-face-message">
          <div class="break">break</div>
          <div class="time">3</div>
          <div class="val">min</div>
        </div>
      </div>
      <div class="progress-bar">
        <div class="left-side half-circle"></div>
        <div class="right-side half-circle"></div>
      </div>
    </div>
    <div class="timer-nav-btns">
      <button class="start-pomoodora">Start Pomodora</button>
    </div>
  </div>
  <div class="timer--comleted none">
    <div class="tomatoes">
      <span class="tomato"></span>
      <span class="tomato fail"></span>
      <span class="tomato fill"></span>
      <a class="add-tomato" href="#" title="add-tomato">
        <span class=" icon--add"></span>
      </a>
    </div>
    <div class="timer progress-100">
      <div class="clock-face">
        <div class="clock-face-message">
          You<br>Completed<br>Task.js
        </div>
      </div>
      <div class="progress-bar">
        <div class="left-side half-circle"></div>
        <div class="right-side half-circle"></div>
      </div>
    </div>
    <div class="timer-nav-btns">
      <a class="global-list-left-btn" href="#" title="To global list">
        <span class="icon--arrow-left"></span>
      </a>
      <a class="to-report-right-btn" href="#" title="To reports">
        <span class="icon--arrow-right"></span>
      </a>
    </div>
  </div>
</main>