
.radio {
  --color: var(--radio-color, --Nepal);

  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.radio__input {
  appearance: none;
  margin: 0;
  font: inherit;
  color: var(--color);
  width: 20px;
  height: 20px;
  border: 2px solid var(--color);
  border-radius: 50%;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:not(:checked):hover {
    border-color: var(--Spray);
  }

  &::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: var(--color);
  }

  &:checked::before {
    transform: scale(1);
  }
}

.radio__title {
  font-family: 'Roboto', sans-serif;
  position: relative;
  top: 2px;
  margin-left: 6px;
  color: var(--Nepal);

  &:hover {
    color: var(--Spray);
  }
}