@import "typography";

.main-heading {
  @include heading1;

  text-align: center;
  color: white;
}

.label {
  display: block;
  padding-bottom: 10px;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

.actions-section {
  display: flex;
  justify-content: center;
  gap: 20px;
}