:root {
  --Madison:              #2a3f50;
  --Nepal:                #8DA5B8;
  --Silver:               #C8C8C8;
  --White:                #fff;
  --Spray:                #82C7E0;
  --Gray:                 #7F7F7F;
  --Dark-Gray:            #9F9F9F;
  --Mountain-Meadow:      #1ABC9C;
  --Mountain-Meadow-Dark: #16A085;
  --Deep-Sea:             #0E8C74;
  --Tomato:               #F75C4C;
  --Dark-Coral:           #C94D47;
  --Mahogany:             #BC3535;
  --Malibu:               #59ABE3;
  --Curious-Blue:         #368BC5;
  --Pelorous:             #2380B5;

  --prior-urgent:          #F75C4C;
  --prior-urgent-active:   #C94D47;
  --prior-hight:           #FFA841;
  --prior-hight-active:    #F08E19;
  --prior-middle:          #FDDC43;
  --prior-middle-active:   #E8BD0A;
  --prior-low:             #1ABC9C;
  --prior-low-active:      #16A085;

  --categor-work:          #FFB200;
  --categor-work-active:   #DD8F05;
  --categor-education:     #59ABE3;
  --categor-hobby:         #B470D0;
  --categor-hobby-active:  #9849B8;
  --categor-sport:         #E16C65;
  --categor-other:         #00D4D9;
  --categor-other-active:  #04A5A5;

  --mobile: 768px;
  --tablet: 1279px;
}


$mobile: 768px;
$tablet: 1279px;

$Madison:               #2a3f50;
$Nepal:                 #8DA5B8;
$Silver:                #C8C8C8;
$White:                 #fff;
$Spray:                 #82C7E0;
$Gray:                  #7F7F7F;
$Dark-Gray:             #9F9F9F;
$Mountain-Meadow:       #1ABC9C;
$Mountain-Meadow-Dark:  #16A085;
$Deep-Sea:              #0E8C74;
$Tomato:                #F75C4C;
$Dark-Coral:            #C94D47;
$Mahogany:              #BC3535;
$Malibu:                #59ABE3;
$Curious-Blue:          #368BC5;
$Pelorous:              #2380B5;

  $prior-urgent:          #F75C4C; //urgent
  $prior-urgent-active:   #C94D47; //urgent active
  $prior-hight:           #FFA841; //hight
  $prior-hight-active:    #F08E19; //hight active
  $prior-middle:          #FDDC43; //middle
  $prior-middle-active:   #E8BD0A; //midddle active
  $prior-low:             #1ABC9C; //low
  $prior-low-active:      #16A085;  //low-active

  $categor-work:          #FFB200; //work
  $categor-work-active:   #DD8F05; //work active
  $categor-education:     #59ABE3; //education
  $categor-hobby:         #B470D0; //hobby
  $categor-hobby-active:  #9849B8; //hobby active
  $categor-sport:         #E16C65; //sport
  $categor-other:         #00D4D9; //other
  $categor-other-active:  #04A5A5; //other active
